In [33]:
import pandas as pd
import numpy as np

In [34]:
# define the paths
school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/students_complete.csv"

# define DataFrame
school = pd.read_csv(school_csv)
student = pd.read_csv(student_csv)

# Let's Make Some DataFrames

In [35]:
# merge the two DataFrames
all_school_data = pd.merge(school, student, how="left", on=["school_name", "school_name"])
all_school_data

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [36]:
total_schools = len(all_school_data["School ID"].unique())
# testing . . . 
total_schools

15

In [37]:
total_students = len(all_school_data["Student ID"].unique())
# testing . . .
total_students

39170

In [38]:
total_budget = school["budget"].sum()
# testing . . .
total_budget

24649428

In [39]:
avg_math_score = student["math_score"].mean()
# testing . . . 
avg_math_score

78.98537145774827

In [40]:
avg_reading_score = student["reading_score"].mean()
# testing . . .
avg_reading_score

81.87784018381414

In [41]:
overall_avg = (avg_reading_score+avg_math_score)/2
# testing . . .
overall_avg

80.43160582078121

In [42]:
# passing math scores
student["#passing_math"] = student["math_score"]>69
pct_passing_math = ((student["#passing_math"]).mean())
# testing . . .
pct_passing_math

0.749808526933878

In [43]:
# passing reading scores
student["#passing_reading"] = student["reading_score"]>69
pct_passing_reading = ((student["#passing_reading"]).mean()) *100 
# testing . . .
pct_passing_reading

85.80546336482001

In [44]:
# overall percentage
overall_passing_rate = (pct_passing_math+pct_passing_reading)/2
# testing . . .
overall_passing_rate

43.277635945876945

## Time to Summarize

In [45]:
# create DataFrame to summarize the data
results = [{"Total Schools":total_schools, "Total Students":total_students, "Total Budget":total_budget, 
"Average Math Score":avg_math_score, "Average Reading Score":avg_reading_score, "Pct Passing Math":pct_passing_math,
"Pct Passing Reading":pct_passing_reading, "Overall Passing Rate":overall_passing_rate}]
district_summary = pd.DataFrame(results)
# district_summary

In [46]:
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}".format)
district_summary["Pct Passing Math"] = district_summary["Pct Passing Math"].map("{:.2f}%".format)
district_summary["Pct Passing Reading"] = district_summary["Pct Passing Reading"].map("{:.2f}".format)
district_summary["Overall Passing Rate"] = district_summary["Overall Passing Rate"].map("{:.2f}%".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Pct Passing Math,Pct Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99,81.88,0.75%,85.81,43.28%

In [47]:
# school summary
all_school_data["pass_math"] = all_school_data["math_score"] > 69
all_school_data["pass_reading"] = all_school_data["reading_score"] > 69
all_school_data

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,pass_math,pass_reading
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,True,False
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,False,True
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,False,True
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,False,False
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90,True,True
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70,True,True
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84,True,True
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90,True,True
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75,True,True

## Let's Group Our Data

In [73]:
# group by school
school_group = all_school_data.groupby(["school_name"]).mean()
school_group["Per Student Budget"] = school_group["budget"]/ school_group["size"]
school_group["Pct Passing Math"] = round(school_group["pass_math"] * 100, 2)
school_group["Pct Passing Reading"] = round(school_group["pass_reading"] * 100, 2)
school_group["Pct Overall Passing Rate"] = round(((school_group["pass_math"] + school_group["pass_reading"]) / 2) * 100, 2)
#school_group

# merge with school data in order to collect information about the type, size, and budget
school_data_summary = pd.merge(school_group, school, how="left", on=["school_name", "school_name"])
del school_data_summary['size_y']
del school_data_summary['budget_y']
del school_data_summary['Student ID']
del school_data_summary['School ID_x']

# create a data frame to store the results
school_summary_df = pd.DataFrame({"School Name": school_data_summary["school_name"], "School Type": school_data_summary["type"], 
"Total Students":school_data_summary["size_x"], "Total School Budget":school_data_summary["budget_x"], 
"Per Student Budget":school_data_summary["Per Student Budget"], "Average Reading Score":round(school_data_summary["math_score"], 2),
"Average Reading Score":round(school_data_summary["reading_score"], 2), "Pct Passing Math":school_data_summary["Pct Passing Math"],
"Pct Passing Reading":school_data_summary["Pct Passing Reading"], "Overall Passing Rate":school_data_summary["Pct Overall Passing Rate"]})

# let's make it pretty
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,.0f}".format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_data_summary["Per Student Budget"].map("${:,.2f}".format)
school_summary_df.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Pct Passing Math,Pct Passing Reading,Overall Passing Rate
0,Bailey High School,District,"4,976","$3,124,928.00",$628.00,81.03,66.68,81.93,74.31
1,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.98,94.13,97.04,95.59
2,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,81.16,65.99,80.74,73.36
3,Ford High School,District,"2,739","$1,763,916.00",$644.00,80.75,68.31,79.30,73.80
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.82,93.39,97.14,95.27

## Successful & Not So Much

In [84]:
# top performing schools (by passing rate)

top_five_schools = school_summary_df.sort_values(["Overall Passing Rate"], ascending=False)

top_five_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Pct Passing Math,Pct Passing Reading,Overall Passing Rate
1,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.98,94.13,97.04,95.59
12,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.85,93.27,97.31,95.29
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.82,93.39,97.14,95.27
9,Pena High School,Charter,962,"$585,858.00",$609.00,84.04,94.59,95.95,95.27
13,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.99,93.87,96.54,95.20

In [85]:
# Bottom Performing Schools (By Passing Rate)
bottom_five_schools = school_summary_df.sort_values(["Overall Passing Rate"], ascending=True)
bottom_five_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Pct Passing Math,Pct Passing Reading,Overall Passing Rate
10,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,80.74,66.37,80.22,73.29
2,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,81.16,65.99,80.74,73.36
7,Huang High School,District,"2,917","$1,910,635.00",$655.00,81.18,65.68,81.32,73.50
8,Johnson High School,District,"4,761","$3,094,650.00",$650.00,80.97,66.06,81.22,73.64
3,Ford High School,District,"2,739","$1,763,916.00",$644.00,80.75,68.31,79.30,73.80

In [94]:
# create a df for each grade -- 9-12
ninth_grade = all_school_data[all_school_data["grade"] == "9th"].groupby("school_name").mean()["math_score"]
tenth_grade = all_school_data[all_school_data["grade"] == "10th"].groupby("school_name").mean()["math_score"]
eleventh_grade = all_school_data[all_school_data["grade"] == "11th"].groupby("school_name").mean()["math_score"]
twelfth_grade = all_school_data[all_school_data["grade"] == "12th"].groupby("school_name").mean()["math_score"]

# create a math df
math_grade_df = pd.DataFrame({"Ninth Grade": round(ninth_grade, 2), "Tenth Grade": round(tenth_grade, 2), "Eleventh Grade":round(eleventh_grade, 2), "Twelfth Grade":round(twelfth_grade, 2)})


math_grade_df

                       Ninth Grade  Tenth Grade  Eleventh Grade  Twelfth Grade
school_name
Bailey High School           77.08        77.00           77.52          76.49
Cabrera High School          83.09        83.15           82.77          83.28
Figueroa High School         76.40        76.54           76.88          77.15
Ford High School             77.36        77.67           76.92          76.18
Griffin High School          82.04        84.23           83.84          83.36
Hernandez High School        77.44        77.34           77.14          77.19
Holden High School           83.79        83.43           85.00          82.86
Huang High School            77.03        75.91           76.45          77.23
Johnson High School          77.19        76.69           77.49          76.86
Pena High School             83.63        83.37           84.33          84.12
Rodriguez High School        76.86        76.61           76.40          77.69
Shelton High School          83.42        82.92           83.38          83.78
Thomas High School           83.59        83.09           83.50          83.50
Wilson High School           83.09        83.72           83.20          83.04
Wright High School           83.26        84.01           83.84          83.64

In [96]:
# create a reading df
ninth_grade = all_school_data[all_school_data["grade"] == "9th"].groupby("school_name").mean()["reading_score"]
tenth_grade = all_school_data[all_school_data["grade"] == "10th"].groupby("school_name").mean()["reading_score"]
eleventh_grade = all_school_data[all_school_data["grade"] == "11th"].groupby("school_name").mean()["reading_score"]
twelfth_grade = all_school_data[all_school_data["grade"] == "12th"].groupby("school_name").mean()["reading_score"]

reading_df = pd.DataFrame({"Ninth Grade": round(ninth_grade, 2), "Tenth Grade": round(tenth_grade, 2), "Eleventh Grade":round(eleventh_grade, 2), "Twelfth Grade":round(twelfth_grade, 2)})

reading_df

                       Ninth Grade  Tenth Grade  Eleventh Grade  Twelfth Grade
school_name
Bailey High School           81.30        80.91           80.95          80.91
Cabrera High School          83.68        84.25           83.79          84.29
Figueroa High School         81.20        81.41           80.64          81.38
Ford High School             80.63        81.26           80.40          80.66
Griffin High School          83.37        83.71           84.29          84.01
Hernandez High School        80.87        80.66           81.40          80.86
Holden High School           83.68        83.32           83.82          84.70
Huang High School            81.29        81.51           81.42          80.31
Johnson High School          81.26        80.77           80.62          81.23
Pena High School             83.81        83.61           84.34          84.59
Rodriguez High School        80.99        80.63           80.86          80.38
Shelton High School          84.12        83.44           84.37          82.78
Thomas High School           83.73        84.25           83.59          83.83
Wilson High School           83.94        84.02           83.76          84.32
Wright High School           83.83        83.81           84.16          84.07

In [98]:
# scores by school spending -- let's the range of values
top_five_schools.sort_values("Per Student Budget")

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Pct Passing Math,Pct Passing Reading,Overall Passing Rate
13,Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.99,93.87,96.54,95.20
6,Holden High School,Charter,427,"$248,087.00",$581.00,83.81,92.51,96.25,94.38
1,Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.98,94.13,97.04,95.59
14,Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.96,93.33,96.61,94.97
11,Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.73,93.87,95.85,94.86
9,Pena High School,Charter,962,"$585,858.00",$609.00,84.04,94.59,95.95,95.27
4,Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.82,93.39,97.14,95.27
0,Bailey High School,District,"4,976","$3,124,928.00",$628.00,81.03,66.68,81.93,74.31
10,Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,80.74,66.37,80.22,73.29
12,Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.85,93.27,97.31,95.29
2,Figueroa High School,District,"2,949","$1,884,411.00",$639.00,81.16,65.99,80.74,73.36
3,Ford High School,District,"2,739","$1,763,916.00",$644.00,80.75,68.31,79.30,73.80
8,Johnson High School,District,"4,761","$3,094,650.00",$650.00,80.97,66.06,81.22,73.64
5,Hernandez High School,District,"4,635","$3,022,020.00",$652.00,80.93,66.75,80.86,73.81
7,Huang High School,District,"2,917","$1,910,635.00",$655.00,81.18,65.68,81.32,73.50

In [100]:
spending_bins = [0, 590, 625, 650, 695]
group_names = ["<$590", "$590-$625", "$625-$650", ">$650"]
school_data_summary["Spending Range Per Student"] = pd.cut(school_data_summary["Per Student Budget"], spending_bins, labels=group_names)
school_spending_group = school_data_summary.groupby("Spending Range Per Student").mean()

# get rid of the noise
del school_spending_group['size_x']
del school_spending_group['budget_x']
del school_spending_group['Per Student Budget']
del school_spending_group['School ID_y']
del school_spending_group['pass_math']
del school_spending_group['pass_reading']
school_spending_group

,reading_score,math_score,Pct Passing Math,Pct Passing Reading,Pct Overall Passing Rate
Spending Range Per Student,,,,,
<$590,83.933814,83.455399,93.460000,96.610000,95.035000
$590-$625,83.862393,83.516957,93.950000,96.313333,95.133333
$625-$650,81.416375,78.032719,71.113333,83.453333,77.281667
>$650,81.058567,76.959583,66.215000,81.090000,73.655000

In [106]:
# scores by school size
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1k)", "Medium (1k - 2k", "Large (2k+"]

school_data_summary["School Size"] = pd.cut(school_data_summary["size_x"], size_bins, labels=group_names)
school_data_summary

school_size_group = school_data_summary.groupby("School Size").mean()
school_size_group

# remove the noise
del school_size_group['budget_x']
del school_size_group['Per Student Budget']
del school_size_group['School ID_y']
del school_size_group['pass_math']
del school_size_group['pass_reading']

# ta-da
school_size_group

,size_x,reading_score,math_score,Pct Passing Math,Pct Passing Reading,Pct Overall Passing Rate
School Size,,,,,,
Small (<1k),694.500,83.929843,83.821598,93.55000,96.10000,94.82500
Medium (1k - 2k,1704.400,83.864438,83.374684,93.59800,96.79000,95.19600
Large (2k+,3657.375,81.344493,77.746417,69.96375,82.76625,76.36375

In [107]:
school_type_group = school_data_summary.groupby("type").mean()
school_type_group

# remove the noise
del school_type_group['size_x']
del school_type_group['budget_x']
del school_type_group['Per Student Budget']
del school_type_group['School ID_y']
del school_type_group['pass_math']
del school_type_group['pass_reading']

# more ta-da
school_type_group

,reading_score,math_score,Pct Passing Math,Pct Passing Reading,Pct Overall Passing Rate
type,,,,,
Charter,83.896421,83.473852,93.620000,96.586250,95.103750
District,80.966636,76.956733,66.548571,80.798571,73.672857